#status-input{
  width: 250px;
}

.navbar-inverse{
  background-color: #48649f;
}

.gallery{
  padding-top: 5px;
  padding-bottom: 5px;
}

.trending-links{
  font-style: italic;
  font-weight: bold;
}

.panel{
  border-radius: 0px;
}

.right-side-bar{
  position: fixed;
  right: 25px;
  top: 70px;
  width: 22%;
}

.bodycontent{
  position:relative;
  top: 70px;
}

.thumbnail-height{
    height: 130px;
}

.img-friends{
  float: left;
  max-height: 100%;
  padding-top: 10px;
  padding-right: 5px;
}

.name-text{
  padding-top: 20%;
}

.img-post{
  width: 40px;
  margin-right: 15px;
}

.like-button{
  width: 75px;
  float: right;
}

#remove-friend{
  color: red;
}


.liked-button{
  width: 120px;
  float: right;
}

li{
  list-style-image: url("../images/trending.png");
}

body{
  background-color: #e9eaed;
}

a{
  color: #48649f;
}
