.navbar-inverse{
  background-color: #48649f;
}

.left-side-links{
  margin: 10px;

}

.trending-links{
  font-style: italic;
  font-weight: bold;
}

.panel{
  border-radius: 0px;
}
.right-side-bar{
  position: fixed;
  right: 40px;
  top: 70px;
  width: 21%;
}

.bodycontent{
  position:relative;
  top: 70px;
}

.img-thumbnail{
  width: 110px;
  margin: 10px;
}


.img-post{
  width: 40px;
  margin-right: 10px;
}

.like-button{
  width: 75px;
  float: right;
}

.liked-button{
  width: 120px;
  float: right;
}

.navbar-fixed{
  color: white;
}

li{
  list-style-image: url("trending.png");
}

body{
  background-color: #e9eaed;
}

a{
  color: #48649f;
}
